#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #abc1d1;
  z-index: index 1;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column; /*왜...? */
  align-items: center;
}

.chat__timestamp {
  background-color: #92a4b2;
  color: rgba(245, 245, 245, 0.753);
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.message-row img {
  width: 55px;
  height: 55px;
  border-radius: 30%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.7;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.message__bubble {
  background-color: white;
  padding: 11px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.7;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}
