.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 25px;
}

.more-suggestions__title {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.more-suggestions__icons {
  display: flex;
}

@keyframes scaleUp {
  from {
    transform: none;
  }
  to {
    transform: scale(1.1);
  }
}

.more-suggestions__icon:hover .more-suggestions__icon-image {
  will-change: transform;
  animation: scaleUp 0.1s linear forwards;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 30px;
  color: white;
}
